# ==========================================
# Machine Learning
# ==========================================
tensorflow>=2.18.0
scikit-learn>=1.7.0

# ==========================================
# Data Analysis
# ==========================================
numpy>=2.2.0
pandas>=2.3.0

# ==========================================
# Visualization
# ==========================================
matplotlib>=3.10.0

# ==========================================
# Image Processing
# ==========================================
Pillow>=11.3.0

# ==========================================
# Dataset Download
# ==========================================
gdown>=5.2.0

# ==========================================
# Jupyter
# ==========================================
notebook>=7.4.0
ipykernel>=6.30.0